.Content-holder {
    min-width: 70%; 
    height: 100%;
}

.Side-nav {
    vertical-align: top;
    text-align: left;
    display: inline-block;
    width: 100%;
}


.El-menu-vertical {
    height: 100%;
}

.Button-holder {
    padding-left: 20px;
    padding-right: 20px;
}
