logs/
npm-debug.log
yarn-error.log
node_modules/

static/src
static/thumb
coverage/
.idea/
run/
.DS_Store
*.sw*
*.un~
typings/
.nyc_output/

test/test-*.jpg
test/static/

config/config.local.js
config/config.prod.js
config/config.unittest.js
.pnp.cjs
.pnp.loader.mjs
yarn.lock
.yarnrc.yml
