$line-color: hsl(0, 0%, 60%);
$title-height: 16px;

.title-split-line-wrapper {
  position: relative;

  // height: 300px;

  .title-split-line-bottom-wrapper {
    position: absolute;
    // bottom: -$title-height;
    bottom: 0;
    left: 0;
    width: 100vw;
  }

  .slit-wrapper {
    position: relative;
    top: -$title-height / 2;
    left: 0;
    width: 100vw;
    height: 0;
    overflow: hidden;

    .slit {
      width: 100;
      background-color: white;
      z-index: 2;
      position: relative;
    }
  }

  .title-split-line {
    color: grey;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: $title-height;
    line-height: 1em;

    position: relative;

    &:before, &:after {
      display: inline-block;
      content: "　";
      border: 0;
      width: 6em;
      height: 1px;
      line-height: 1em;
      background: rgba(48, 103, 133, 0.618);
    }

    &:before {
      background: linear-gradient(to left, #{$line-color}, #{$line-color}, transparent);
    }

    &:after {
      background: linear-gradient(to right, #{$line-color}, #{$line-color}, transparent);
    }

    .title-split-line-body {
      padding: 0 0.5em;
      line-height: 1em;
      color: #{$line-color};
    }
  }
}
