.PreviewBox {
  width: 320px;
  // height: 320px;
  border-radius: 4px;
  cursor: pointer;
}

.PreviewImageWrapperDragging::before {
  content: "before";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  color: white;
  font-size: 18px;

  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.PreviewImageWrapperDragging {
  position: relative;
}

.PreviewImageWrapper {
  position: relative;
}

.DragTips {
  content: "更换投稿图像";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  color: white;
  font-size: 18px;

  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.PreviewImage.IsDragging {
  box-shadow: none;
  opacity: 0.5;
}
.PreviewImage {
  position: relative;
  display: block;
  width: 320px;
  border-radius: 4px;
  box-shadow: 0px 1.7px 0.7px rgba(0, 0, 0, 0.06), 0px 4.1px 1.7px rgba(0, 0, 0, 0.043), 0px 7.6px 3.1px rgba(0, 0, 0, 0.036), 0px 13.6px 5.6px rgba(0, 0, 0, 0.03), 0px 25.5px 10.4px rgba(0, 0, 0, 0.024), 0px 61px 25px rgba(0, 0, 0, 0.017), 0 -1px 0 1px rgba(0, 0, 0, 0.05);
}

.EmptyTips.IsDragging {
  border-color: rgb(48 103 133);
  border-style: solid;
  color: rgb(48 103 133);
}
.EmptyTips {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 160px;
  border-radius: 4px;
  border: dashed 1px rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

.Textarea {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  width: 320px;
  box-sizing: content-box;
  display: block;
  font-size: 18px;
  padding: 10px;
  box-sizing: border-box;
  resize: vertical;
  margin: 0 auto;
  margin-top: 20px;

  line-height: 1.25em;
  min-height: calc(5 * 1.25em);
  outline: 0;
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.7);
}
